<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'home/style1.css' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cerita Aimar</title>
   
    
    
</head>
<body style="height: 100vh;
width: 100%;
font-family:'Poppins'sans-serif; 
background-color:#0F1638 ;" >
    <p class=space-1  > </p>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainnav">
    <div class = "container-fluid">
        <a class="navbar-brand"href="#pagetop"><img class="logo" src="{% static 'image/Gamepad.svg' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">home</a>
                </li>   
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="#Interest">Interest</a>
                </li> 
            </ul>
        </div>
    </div>
    </nav>
        <div class="container-fluid padding" id="About">
            <div class="About-me text-center">
            <div class="col-10">   
                <h1 class="display-4 text-1" >These are the Thing I love</h1>
            </div>
            <hr>
            <div class="col-12 img-1">
                <a href='https://www.freepik.com/vectors/people' ><img src="{% static 'image/Gaming.jpg' %}"   alt="Image1" class="img-fluid float-left" >People vector created by pikisuperstar - www.freepik.com</a>
                <a href='https://www.freepik.com/vectors/food'><img src="{% static 'image/Cooking.jpg' %}"   alt="Image2" class="img-fluid float-right" >Food vector created by stories - www.freepik.com</a>
            </div>   
            <p class=space-4  > </p>
         <footer>
             <div class="coitainer-fluid padding">
                 <div class= "row text-center">
                    <div class="col-12">
                        <h5>&copy; web-aimar.herokuapp.com</h5>
                    </div>
                 </div>
             </div>
         </footer>
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>