<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style1.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cerita Aimar</title>
   
    
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainnav">
    <div class = "container-fluid">
        <a class="navbar-brand"href="#pagetop"><img class="logo" src="static\image\Gamepad.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="#home">home</a>
                </li>   
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="#About">About Me</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="#Skills">Skills</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="#Connect">Connect</a>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link js-scroll-trigger" href="{% url 'hobbies' %}">Interest</a>
                </li> 
            </ul>
        </div>
    </div>
    </nav>
    <div class="jumbotron" id="home">
        <div class="container">
        <h1 class="display-4">Sup Internet!! I"M</h1>
        <h1 class="display-5">AIMAR</h1>
            <img src="static\image\PP1.jpg"  class="box-img">
        </div>
      </div>
      <p class=space-1  > </p>
      <p class="space-navi" id ="About"></p>
      <div class="container-fluid padding" id="About">
        <div class="About-me text-left">
        <div class="col-11">   
            <h1 class="display-4">About Me</h1>
        </div>
        <hr>
        <div class="col-12">
            <img src="static\image\PR1.jpg"   alt="My Image" class="img-fluid float-left" >
            <p class="desk">hello!!, Saya Aimar Fikri Salafi. Saya seorang mahasiswa yang berukuliah di FASILKOM UI. Saya lahir Di Jakarta, tanggal 10 oktober 2001. Saya suka sekali melihat sekitar, melihat orang-orang ataupun lingkungan disekitarnya. Saya juga suka berdiskusi dan bertukar pikiran yang terpenting saya suka berteman. Selamat Bertemu!!!</p>
        </div>
        <p class=space-2> </p>
        </div> 
      </div>
      <p class="space-navi" id ="Skills"></p>
      <div class="container-fluid " id="Skills">
          <div class="row text-center padding">
              <div class="col-12">
                  <h2>Skills</h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4" >
                  <i class="fas fa-code"></i>
                  <h3 class="skills">HTML</h3>
                  <p class="skillsp">Saya Belajar HTML Sekarang</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4" >
                <i class="fab fa-python"></i>
                <h3 class="skills">PYTHON</h3>
                <p class="skillsp">Saya sudah bisa menggunakan python</p>
            </div>
            <div class=" col-sm-12 col-md-4" >
                <i class="fab fa-java"></i>
                <h3 class="skills">JAVA</h3>
                <p class="skillsp">Saya sudah bisa menggunakan java</p>
            </div>
            <hr class="my-4">
          </div>
         </div>
         <p class=space-1> </p>
         <p class=space-navi id="Connect"></p>
         <div class="container-fluid padding" id="Connect">
             <div class="row text-center padding">
                <div class="col-12">
                <h2>Connect</h2>
            </div>
            <div class="col-12 social padding">
                <a target="_ " href="https://www.facebook.com/aimar.fikrisalafi"><i class="fab fa-facebook-f"></i></a>
                <a target="_ " href="https://timeline.line.me/api/v1/dtLogin?token=NjA0Y2NjZjYtYTJjZS00OGUwLWI1NTktYmQ3YTQxNmQ0NThh&port=19673"><i class="fab fa-line"></i></a>
                <a target="_ " href="https://www.instagram.com/aimarfs/?hl=en"><i class="fab fa-instagram"></i></a>
                <a target="_ " href="https://steamcommunity.com/id/aivi01/"><i class="fab fa-steam-square"></i></a>
            </div>
             </div>
         </div>
         <footer>
             <div class="coitainer-fluid padding">
                 <div class= "row text-center">
                    <div class="col-12">
                        <h5>&copy; web-aimar.herokuapp.com</h5>
                    </div>
                 </div>
             </div>
         </footer>
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>