

html,body{
    height: 100vh;
    width: 100%;
    font-family:'Poppins'sans-serif; 
    background-color:#0F1638 ;
}

#anjay{
    height: 100vh;
    width: 100%;
    font-family:'Poppins'sans-serif; 
    background-color:#0F1638 ;
}
.navbar{
    padding:  .8rem;
    background-color:#202C65;
    color:#FFFEFE;
    font-weight:bold;
}


.navbar-brand{
    filter: contrast(0%);
}
.nav-item{
    color:#FFFEFE;
}
.nav-item:hover{
    color:	#808080;
}
.logo{
    height: 100%;
    width: 100%;
}

.img-fluid{
    max-width: 100%;
    height: auto; 
    width: 25%;
}
.desk{
    margin-left: 27%;
    color: #FFFEFE;
    font-size: 1.5em;
}
.space-2{
    margin-bottom: 35%;
}
.space-1{
    height: 150px;
}
.space-4{
    height: 300px;
}
.space-navi{
    height: 50px;
}

.skillsp{
    color: #FFFEFE;
}

.col-11 h1{
    color:#FEAD62;
    font-weight: bold;
}

.col-10 h1{
    color: #FFFEFE;
    font-weight: bold;
}
.col-12{
    color: #FEAD62;
}

.skills{
    color: #FEAD62;
}

.text-1{
    color: #FFFEFE;
}

.jumbotron{
    background-image: url(../image/Retro-1.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding:  1rem;
    border-radius: 0;
}
.jumbotron .display-4{
    color: #FEAD62;
    font-style: italic;
    
}
.jumbotron .display-5{
    color: #FEAD62;
    font-weight: bold;

}
 .box-img{
    border-radius: 70%;
    max-width: 150%;
    max-height: 150%;
    
}

[class*="col-"]{
    padding: 1rem;
}

.fa-code{
    color: #FF5C00;
}

.fa-python{
    color: #fffb00;
}

.fa-java{
    color: #ff0000;
}

.fa-code, .fa-python, .fa-java {
    font-size: 4em;
    margin: 1rem ;
}

.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-instagram{
    color: #fffefe;
}
.fa-facebook-f{
    color: #FFFEFE;
}
.fa-steam-square{
    color: #FFFEFE;
}
.fa-line{
    color: #FFFEFE;
}

.fa-line:hover,
.fa-instagram:hover,
.fa-steam-square:hover,
.fa-facebook-f:hover{
color:	#808080;
}
footer{
    background-color:#202C65;
    color: #FFFEFE;
}
.image1{
    max-width: 150%;
    max-height: 150%;
}
